version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: mocs
      POSTGRES_PASSWORD: mocs
      POSTGRES_DB: mocs_db
    ports:
      - "5432:5432"
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./backend
    ports:
      - "3001:3001"
    environment:
      DATABASE_URL: postgres://mocs:mocs@postgres:5432/mocs_db
      OPENAI_API_KEY: SUA_API_KEY
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
